{% extends 'Base.html' %}

{% block body %}
<style>
    .slide{
        overflow-x: hidden;
    }    
</style>
<div class="carousel w-screen overflow-hidden">
    <div class="slider flex h-screen w-fit duration-1000">
        <div class="slide w-screen h-full flex overflow-hidden bg-center container flex-col items-center justify-center bg-cover"
            style="background-image:url(/media/images/sfr1-skyasia-original-imaf7gebfqcrfxcj\ copy.jpg);">
            <!-- banner content -->
            <h1 class="xl:text-6xl md:text-5xl text-4xl text-white font-medium mb-4 text-center bg-black p-10 opacity-60">
                In This Rakhi<br class="hidden sm:block">Shop With Guarantee Ornament Shop
            </h1>
            <!-- banner button -->
            <div class="mt-12">
                <a href="/fetchproducts/rakhi/" class="bg-yellow-700 border border-yellow-600 text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent
           hover:text-yellow-500 transition">
                    Shop now
                </a>
            </div>
            <!-- banner button end -->
            <!-- banner content end -->
        </div>

        <div class="slide w-screen h-full flex overflow-hidden bg-center container flex-col items-center justify-center bg-cover"
            style="background-image:url(https://images.unsplash.com/photo-1606760227091-3dd870d97f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);">
            <!-- banner content -->
            <h1 class="xl:text-6xl md:text-5xl text-4xl text-white font-medium mb-4 text-center bg-black p-10 opacity-60">
                Best Collection Of Jewellery <br class="hidden sm:block">Fashion and Precious Jewellery
            </h1>
            <!-- banner button -->
            <div class="mt-12">
                <a href="/shop" class="bg-yellow-700 border border-yellow-600 text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent
           hover:text-yellow-500 transition">
                    Shop now
                </a>
            </div>
            <!-- banner button end -->
            <!-- banner content end -->
        </div>
        <div class="slide w-screen h-full flex overflow-hidden bg-center container flex-col items-center justify-center bg-cover"
            style="background-image:url(https://images.unsplash.com/photo-1596944924616-7b38e7cfac36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8amV3ZWxsZXJ5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);">
            <!-- banner content -->
            <h1 class="xl:text-6xl md:text-5xl text-4xl text-white font-medium mb-4 text-center bg-black p-10 opacity-60">
                Best Collection Of Jewellery <br class="hidden sm:block">Fashion and Precious Jewellery
            </h1>
            <!-- banner button -->
            <div class="mt-12">
                <a href="/shop" class="bg-yellow-700 border border-yellow-600 text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent
           hover:text-yellow-500 transition">
                    Shop now
                </a>
            </div>
            <!-- banner button end -->
            <!-- banner content end -->
        </div>
    </div>
</div>




<div class="container pb-16 xl:px-40 py-20">
    <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6">shop by category</h2>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-3">
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden">
            <img src="/media/images/FashionJewellery/Ear30 (3).JPG" class="w-full h-full">
            <a href="fetchproducts/earring/" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Ear Rings
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden">
            <img src="/media/images/FashionJewellery/Set 60 (1).jpg" class="w-full h-full">
            <a href="fetchproducts/necklace/" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Necklace
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden">
            <img src="/media/images/FashionJewellery/anklet main image.jpg" class="w-full h-full">
            <a href="fetchproducts/anklet/" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Anklet
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden">
            <img src="/media/images/FashionJewellery/mangal 10 (3).JPG" class="w-full h-full">
            <a href="fetchproducts/mangalsutra/" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                MangalSutra
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden">
            <img src="/media/images/FashionJewellery/jewel1.jpg" class="w-full h-full">
            <a href="fetchproducts/chain/" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                font-roboto font-medium tracking-wide transition">
                Chains
            </a>
        </div>
        <!-- single category end -->
        <!-- single category -->
        <div class="relative group rounded-sm overflow-hidden h-full">
            <img src="/media/images/FashionJewellery/PD14 (1).JPG" class="w-full">
            <a href="fetchproducts/pendant/" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                    font-roboto font-medium tracking-wide transition">
                Pendants
            </a>
        </div>
        <!-- single category end -->
    </div>
</div>
<!-- categories end -->

<div class="my-4 flex justify-center">
    <a href="/shop" class="bg-yellow-700 border border-yellow-600 text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent
   hover:text-yellow-500 transition">
        View All Products
    </a>
</div>

<!-- best seller arrival -->
<div class="container pb-16 xl:px-40 mt-20 ">
    <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6">top new arrival</h2>
    <!-- product wrapper -->
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6 pb-20">
        <!-- single product -->
        {% for Product in bestSellerProduct %}
        <div class="group rounded bg-white shadow overflow-hidden">
            <!-- product image -->
            <div class="relative h-80">
                <img src="/media/{{Product.Image_main}}" class="w-full h-full">
                <div
                    class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                    <a href="/view/{{Product.type}}/{{Product.id}}"
                        class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <!-- product image end -->
            <!-- product content -->
            <div class="pt-4 pb-3 px-4 h-36">
                <a href="/view/{{Product.type}}/{{Product.id}}">
                    <h4 class=" font-light text-xl mb-2 text-gray-800 hover:text-primary transition">
                        {{Product.desc}}
                    </h4>
                </a>
                <div class="flex items-baseline mb-1 space-x-2">
                    <p class="text-xl text-primary font-roboto font-semibold">&#8377; {{Product.Price}}.00</p>

                </div>
                <div class="flex items-center">
                    <div class="flex gap-1 text-sm text-yellow-400">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                    </div>
                    <!-- <div class="text-xs text-gray-500 ml-3">(150)</div> -->
                </div>
            </div>
            <!-- product content end -->
            <!-- product button -->
            <a href="/view/{{Product.type}}/{{Product.id}}"
                class="block w-full py-1 text-center bg-yellow-600 text-white hover:border border-yellow-800 rounded-b hover:bg-transparent hover:text-yellow-800 transition">
                View
            </a>
            <!-- product button end -->
        </div>
        {% endfor %}
    </div>
    <!-- Best Seller arrival end -->



    <!-- recomended for you -->
    <div class="container pb-16">
        <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6">recomended for you</h2>
        <!-- product wrapper -->
        <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">
            <!-- single product -->

            {% for Product in fashionJewelleryList %}
            <div class="group rounded bg-white shadow overflow-hidden">
                <!-- product image -->
                <div class="relative h-[20rem]">
                    <img src="/media/{{Product.Image_main}}/" class="w-full h-full">
                    <div
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        <a href="/view/{{Product.type}}/{{Product.id}}/"
                            class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                            <i class="fas fa-search"></i>
                        </a>

                    </div>
                </div>
                <!-- product image end -->
                <!-- product content -->
                <div class="pt-4 pb-3 px-4 h-36">
                    <a href="/view/{{Product.type}}/{{Product.id}}/">
                        <h4 class=" font-light text-xl mb-2 text-gray-800 hover:text-primary transition">
                            {{Product.desc}}
                        </h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                        <p class="text-xl text-primary font-roboto font-semibold">&#8377; {{Product.Price}}.00</p>
                    </div>
                    <div class="flex items-center">
                        <div class="flex gap-1 text-sm text-yellow-400">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>

                    </div>
                </div>
                <!-- product content end -->
                <!-- product button -->
                <a href="/view/{{Product.type}}/{{Product.id}}"
                    class="block w-full py-1 text-center bg-yellow-600 text-white hover:border border-yellow-800 rounded-b hover:bg-transparent hover:text-yellow-800 transition">
                    View
                </a>
                <!-- product button end -->
            </div>
            <!-- single product end -->
            {% endfor %}

            {% for Product in preciousJewelleryList %}
            <div class="group rounded bg-white shadow overflow-hidden">
                <!-- product image -->
                <div class="relative h-[20rem]">
                    <img src="/media/{{Product.Image_main}}/" class="w-full h-full">
                    <div
                        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        <a href="/view/{{Product.type}}/{{Product.id}}/"
                            class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
                <!-- product image end -->
                <!-- product content -->
                <div class="pt-4 pb-3 px-4 h-36">
                    <a href="/view/{{Product.type}}/{{Product.id}}/">
                        <h4 class=" font-light text-xl mb-2 text-gray-800 hover:text-primary transition">
                            {{Product.desc}}
                        </h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2">
                        <p class="text-xl text-primary font-roboto font-semibold">&#8377; {{Product.Price}}.00</p>
                    </div>
                    <div class="flex items-center">
                        <div class="flex gap-1 text-sm text-yellow-400">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                </div>
                <!-- product content end -->
                <!-- product button -->
                <a href="/view/{{Product.type}}/{{Product.id}}"
                    class="block w-full py-1 text-center bg-yellow-600 text-white hover:border border-yellow-800 rounded-b hover:bg-transparent hover:text-yellow-800 transition">
                    View
                </a>
                <!-- product button end -->
            </div>
            <!-- single product end -->
            {% endfor %}
        </div>
        <!-- product wrapper end -->
    </div>
    <!-- recomended for you end -->
</div>





<script>
    // let slideshow = document.querySelector('.slideshow')

    // setInterval(() => {
    //     let i = Math.floor(Math.random() * (3 - 1 + 1) + 1);
    //     if (i == 1) {
    //         slideshow.style.backgroundImage = "url('https://mdbcdn.b-cdn.net/img/new/slides/042.webp')"
    //     }
    //     if (i == 2) {
    //         slideshow.style.backgroundImage = "url('https://mdbcdn.b-cdn.net/img/new/slides/043.webp')"
    //     }
    //     if (i == 3) {
    //         slideshow.style.backgroundImage = "url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp')"
    //     }

    // }, 2000);

    let slide = document.querySelector('.slider')
    setInterval(() => {
        setTimeout(() => {
            slide.style.transform = 'translateX(-100vw)'
        }, 2000);
        setTimeout(() => {
            slide.style.transform = 'translateX(-200vw)'
        }, 4000);
        setTimeout(() => {
            slide.style.transform = 'translateX(0vw)'
        }, 6000);
    }, 2000);

</script>


{% endblock %}