{% extends 'Base.html' %}
{% block body %}
    <!-- breadcrum -->
    <div class="container py-4 px-50 flex justify-between">
        <div class="flex gap-3 items-center">
            <a href="/" class="text-primary text-base">
                <i class="fas fa-home"></i>
            </a>
            <span class="text-sm text-gray-400"><i class="fas fa-chevron-right"></i></span>
            <p class="text-gray-600 font-medium">Shop</p>
        </div>
    </div>
    <!-- breadcrum end -->

    <!-- shop wrapper -->
    <div class="container grid lg:grid-cols-3 gap-6 pt-4 pb-16 items-start relative lg:px-32">
        <!-- products -->
        <div class="col-span-3 mx-1">
            <!-- product wrapper -->
            <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 sm:grid-cols-2 gap-2 xl:gap-6 lg:gap-6 sm:gap-4 md:gap-4 ">
                <!-- single product -->
                {% for Product in ProductList %}
                <div class="group rounded bg-white shadow overflow-hidden">
                    <!-- product image -->
                    <div class="relative">
                        <a href="/view/{{Product.type}}/{{Product.id}}">
                        <img src="/media/{{Product.Image_main}}" class="w-full h-64">
                        </a>
                    </div>
                    <!-- product image end -->
                    <!-- product content -->
                    <div class="pt-4 pb-3 px-2 h-40">
                        <a href="/view/{{Product.type}}/{{Product.id}}">
                            <h4 class=" font-light text-xl mb-2 text-gray-800 hover:text-primary transition">
                                {{Product.desc}}
                            </h4>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="text-xl text-primary font-roboto font-semibold">&#8377; {{Product.Price}}</p>
                            <!-- <p class="text-sm text-gray-400 font-roboto line-through">$55.00</p> -->
                        </div>
                        <div class="flex items-center">
                            <div class="flex gap-1 text-sm text-yellow-400">
                                <span:key="n"><i class="fas fa-star"></i></span>
                                <span:key="n"><i class="fas fa-star"></i></span>
                                <span:key="n"><i class="fas fa-star"></i></span>
                                <span:key="n"><i class="fas fa-star"></i></span>
                                <span:key="n"><i class="fas fa-star"></i></span>
                            </div>
                            <!-- <div class="text-xs text-gray-500 ml-3">(150)</div> -->
                        </div>
                    </div>
                    <!-- product content end -->
                    <!-- product button -->
                    <div class="productbuttons flex">
                    <a href="/view/{{Product.type}}/{{Product.id}}"
                    class="block w-full py-1 text-center text-white bg-yellow-800 border rounded-b hover:bg-transparent hover:text-yellow-800 hover:border-yellow-800 transition">
                    View
                </a>
            </div>
                    <!-- product button end -->
                </div>
                {% endfor %}
                <!-- single product end -->
            </div>
            <!-- product wrapper end -->
        </div>
        <!-- products end -->
    </div>
    <!-- shop wrapper end -->
{% endblock %}
    